---
title: Other Financial Benefits
---
<section class="aft-sidebar"></section>
<p><a href="patterns.html" title="Patterns">Patterns &rarr;</a></p>
<h2>And another thing</h2>

<p>TEASER Farm-to-table Portland single-origin coffee leggings disrupt, banjo bicycle rights master cleanse you probably haven&#039;t heard of them four loko Helvetica Carles twee polaroid.
Tax breaks are just the beginning of the financial benefits your business can see by hiring veterans and their spouses. From government programs designed to put veterans to work to private organizations who work to support military families in the job market, there are dozens of ways your company can benefit from targeting veterans and their spouses.</p>

<dl>
  <dt>Free PR/Marketing opportunities</dt>
  <dd>Americans love to support their military. Being seen as a military-friendly company won’t just help you attract military customers—it will drive home a positive message to the millions of Americans who like the idea of “supporting the troops.” There are dozens of networks spreading information (for free) about military-friendly companies, from family services programs at the state and national level to social networks. The military is a community—one that is intentional about supporting those who support it. Connecting with that community will help you spread the word about your business to a huge potential audience.
</dd>
  <dt>Free training for your military workers</dt>
  <dd>The military offers hundreds of free courses and certifications to its members. Any currently-serving National Guard or Reserves employees will be eligible for these programs. From the technical, like Information Technology training programs and project management certification programs, to the general, like management and team-building techniques, you can benefit from your employees’ free professional development.</dd>
  <dt>Opportunity to bid for government contracts</dt>
  <dd>Hiring veterans will set you up to bid for (often lucrative) government contracts. The federal government sets guidelines for the companies it does business with, and one of those is that you should have a certain percentage of your workers be veterans. If you see government contracts as a source of business development, maintaining a veteran presence in your company will mean less hassle later.</dd>
  <dt>Awards for military-friendly businesses</dt>
  <dd>The Department of Defense has an office dedicated to improving the relationship between military and veteran workers called the Employer Support for the Guard and Reserve (ESGR). ESGR not only publicizes the work that companies do to be veteran-friendly, they give major awards to companies who go above and beyond the call of duty hiring veterans (and their spouses!). These awards are more PR opportunities selling your image as a military-friendly company. The best part: You don’t have to pay to tell the story—ESGR will tell it for you.</dd>
</dl>




Find info on tax benefits that might be available to you [Linkto: Taxes]

Learn about the intangible benefits veteran workers will bring to your company [Linkto: Veteran/Spouse Skill and Traits]