<section class="checklist" data-animation='slide-left'>
  <aside class="checklist-nav">
    <select name="" id="">
      <option value="prepare">Prepare</option>
      <option value="hire">Hire</option>
      <option value="empower">Empower</option>
    </select>
  </aside>
  <div class="wrapper">
    <ul>
      <li><input type="radio"></li>
      <li><input type="radio"></li>
      <li><input type="radio"></li>
      <li><input type="radio"></li>
      <li><input type="radio"></li>
      <li><input type="radio"></li>
      <li><input type="radio"></li>
      <li><input type="radio"></li>
    </ul>
  </div>
</section>
