
<section class="sidebar">
  <i class="icon-fi-list positioned"></i>
  <div class="sidebar-main">
    <h1 class="logo">Veteran Hiring Path</h1>
    <nav>
      <h3>Prepare</h3>
      <ul>
        <li>Vet Skills and Traits</li>
        <li>Dispelling Common Myths</li>
        <li>Benefits of Hiring Vets</li>
      </ul>
      <h3>Hire</h3>
      <ul>
        <li>Attracting Vets to Your Business</li>
        <li>FindingVets and Spouses</li>
        <li>Understanding Military Experiences</li>
        <li>Hiring Vets and Spouses</li>
      </ul>
      <h3>Empower</h3>
      <ul>
        <li>Training And Education</li>
        <li>Personal and Family Support</li>
        <li>Benefits of Hiring Vets</li>
      </ul>
    </nav>
  </div>
</section>

